{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        {% if product.image_filename %}
            <img src="{{ url_for('static', filename='uploads/' + product.image_filename) }}" class="img-fluid">
        {% endif %}
    </div>
    <div class="col-md-6">
        <h2>{{ product.title }}</h2>
        <h4>${{ product.price }}</h4>
        <p>{{ product.description }}</p>
        <a href="#" class="btn btn-success">Add to Cart</a>
    </div>
</div>
{% endblock %}